#NavBar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #34495e
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation li, .header {
    list-style: none;
    margin: 0 8px;
    padding: 10px 20px;
    position: relative;
}

.navigation li a, .header a {
    text-decoration: none;
    font-size: 14px;
    padding: 13px 15px;
    line-height: 23px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
}

.header a {
    font-size: 20px;
}

.navigation li a:not(.highlight a):hover, .header a:hover {
    color: #1abc9c;
}

.highlight a {
    background-color: #1abc9c;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 8px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

#visualize-button {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    border: none;
    background-color: #1abc9c;
    color: #fff;
}

#visualize-button:hover {
    filter: brightness(108%);
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    transform: translate(0,40px);
    border-radius: 5px;
    background-color: #34495e;
    padding: 5px 0; 
    z-index: 100;
}

.dropdown-menu li {
    list-style: none;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px
}

.dropdown-menu li:hover {
    cursor: pointer;
    background-color: #1abc9c;
}