#Legend {
    margin-bottom: 0;
    padding: 0;
}

#Legend ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 35px 0;
    margin-bottom: 10px;
}

#Legend ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style: none;
    margin: 5px 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #33485E;
}

#Legend ul li div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin: 0 8px;
}

.unvisited-node {
    outline: 2px solid rgb(175, 216, 248);
}

.visited-node {
    background-color: rgba(0, 190, 218, 0.75);
}

.shortest-path-node {
    background-color: rgb(255, 254, 106);
}

.wall-node {
    background-color: rgb(12, 53, 71);
}

@media only screen and (max-width: 450px) {
    #Legend ul {
        margin: 15px 0;
    }

    #Legend ul li {
        margin: 2px 4px;
        padding: 2px;
        font-size: 8px;
    }

    #Legend ul li div {
        width: 10px;
        height: 10px;
        margin: 0 3px;
    }
}